body {
  margin: 0;
  font-family: 'Yusei Magic', 'M PLUS Rounded 1c', 'Zen Maru Gothic', 'Meiryo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
    padding: 0 2vw;
  }
}
